<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<script src="../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/neon-animation/neon-animation.html">
<link rel="import" href="../bower_components/neon-animation/web-animations.html">

<dom-module id="chatbot-view2">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .chat_container{
        max-width: 60%;
        padding: 15px;
        margin: 0 auto;
      }
      .chat_header{
        display:block;
        /* height: 50px;
        line-height: 50px; */
        box-sizing: border-box;
      }
      .chat_group{
        border: 1px solid #ececec;
        box-sizing: border-box;
        width: 30%;
        float: left;
        padding: 0px 10px;
      }
      .chat_loadMore{
        /* border: 1px solid #ececec; */
        box-sizing: border-box;
        width: 15%;
        float: left;
        padding: 0px 10px;
      }
      .chat_search{
        border: 1px solid #ececec;
        box-sizing: border-box;
        float: right;
        width: 55%;
        padding: 0px 10px;
      }
      .chat_body{
        display:block;
        border: 1px solid #ececec;
        padding: 10px;
        box-sizing: border-box;
        max-width: 100%;
        height: 300px;
        max-height: 300px;
      }
      .chat_list{
        display: inline-block;
        height: auto;
        color: #ff00ff;
      }
      .clear{
        clear: both;
      }
      .chat_bottom{
        display:block;
        height: 50px;
        line-height: 50px;
        box-sizing: border-box;
      }
      .chat_input{
        float: left;
        border: 1px solid #ececec;
        width: 80%;
        box-sizing: border-box;
        padding: 0px 10px;
      }
      .send_message{
        float: right;
        border: 1px solid #ececec;
        width: 20%;
        box-sizing: border-box;
        padding: 0px 10px;
      }
      .chat_list{
        display: block;
        height: auto;
      }
     
      .others_mes .mesg{
        float: left;
        width: auto;
        color:#ffffff;
        background:rgba(12, 32, 44, 0.7);
        margin: 2px 0px;
        padding: 10px;
        border-radius: 10px;
      }
      .my_mes .mesg{
        float: right;
        width: auto;
        color:#ffffff;
        background:rgba(53, 53, 54, 0.7);
        margin: 2px 0px;
        padding: 10px;
        border-radius: 10px;
      }
      .select,.search-input{
        width: 100%;
        padding: 10px 0px;
        border: none;
        border-bottom: 1px solid #ececec;
      }
      .select:focus,select:active,.search-input:focus,.search-input:active{        
        border: 1px solid #ffffff;
      }
      .Symbol{
        width: 100%;
      }
      
    </style>

<div class="card">
  <div class="chat_container">
    <div class="chat_header">
      <div class="chat_group">
          <!-- <select class="select">
            <option value="12">Football</option>
            <option value="12">Cricket</option>
          </select> -->
          <div class="Symbol">
          <paper-dropdown-menu auto-validate label="Select Room" name="Room">
              <paper-listbox class="dropdown-content" slot="dropdown-content" attr-for-selected="value" selected="{{submitObj.Symbol}}"
                required>
                <paper-item value="Symbole1">Football</paper-item>
                <paper-item value="Symbol2">Ckricket</paper-item>
              </paper-listbox>
            </paper-dropdown-menu>
          </div>
          </div>
      </div>
      <div class="chat_loadMore">
          <paper-button raised  on-click="loadMore">More</paper-button>
      </div>
      <div class="chat_search">
          <!-- <input class="search-input" placeholder="Search" type="text"></input> -->
          <paper-input label="Your message" type="text" auto-validate  value="{{submitObj.message}}" name="message" required auto-validate error-message="Enter your message"></paper-input>
      </div>
    
    <div class="clear"></div>
    <div class="chat_body">      
      <!-- <template is="dom-repeat" items="{{employees}}">
          <div class="chat_list">
          <div>First name: <span>{{item.first}}</span></div>
          <div>Last name: <span>{{item.last}}</span></div>
          
          <div class="clear"></div>
          </div>
      </template>  -->
      <div class="chat_list">
       
          <div class="others_mes"><span class="mesg">Other message</span></div>
          <div class="my_mes"><span class="mesg">my message dfds f sdfdsafdsafsdafdsfds  dsa f dsaf sdafsadfsadfasdfsdfasdf  dsafdsaf</span></div>
          <div class="clear"></div>
          </div>        
      
    </div>
    <div class="chat_bottom">
      <iron-form id="userlogin">
      <form>
        <!-- <paper-input label="User name" type="text" auto-validate  value="{{submitObj.username}}" name="username" required auto-validate error-message="This filled required"></paper-input>
        <paper-input label="Password" type="password" auto-validate  value="{{submitObj.password}}" name="password" required auto-validate error-message="This filled required"></paper-input>        
        <paper-button raised class="submit" on-click="sendNow">login</paper-button>
        <br> -->
      

      <div class="chat_input"><paper-input label="Your message" type="text" auto-validate  value="{{submitObj.message}}" name="message" required auto-validate error-message="Enter your message"></paper-input></div>
      <div class="send_message"><paper-button raised  on-click="sendNow">Send</paper-button></div>
      </form>
    </iron-form>
    </div>
    <div class="clear"></div>
  </div>



  <!-- <div class="circle">2</div>
  <h1>View Two</h1>
  <p>Ea duis bonorum nec, falli paulo aliquid ei eum.</p>
  <p>Id nam odio natum malorum, tibique copiosae expetenda mel ea.Detracto suavitate repudiandae no eum. Id adhuc minim soluta nam.Id nam odio natum malorum, tibique copiosae expetenda mel ea.</p> -->
</div>
<iron-ajax id="sendmessageData"
    body="{{submitObj}}"
    url="https://jsonplaceholder.typicode.com/posts"    
    handle-as="json"
    on-response="handleSendmessageData"    
    debounce-duration="300"></iron-ajax>


    <iron-ajax id="getMsgData"
    params="{'userId':12,'roomId':10}"
    url="https://jsonplaceholder.typicode.com/posts"    
    handle-as="json"
    on-response="getMsgDataResonse"    
    debounce-duration="300"></iron-ajax>

  </template>

  <script>
    class ChatbotView2 extends Polymer.Element {
      static get is() { return 'chatbot-view2'; }
      static get properties() {
        return {
          submitObj: {
            type: Object,
            value: {}
          },
          chatArray:{
            type:Array,
            value:[{}],
            notify:true
          }
        }
      }
      getMsgDataResonse(){
        console.log("getMsgDataResonse......");
      }
      getChatMsg(){
        console.log("getChatMsg......");
        this.$.getMsgData.generateRequest();
      }

      handleSendmessageData(){
        console.log("handleSendmessageData...");
        this.getChatMsg();
      }
      
      
     
      sendNow(e) {
        //console.log(this.$.userlogin.validate());
        if (!this.$.userlogin.validate())
          return false;

        // 
       

        this.$.sendmessageData.generateRequest()
        console.log("send....");

      }
    }

    window.customElements.define(ChatbotView2.is, ChatbotView2);
  </script>
</dom-module>
