<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<script src="../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">


<dom-module id="chatbot-view1">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .login-container{
        max-width: 60%;
        padding: 15px;
        margin: 0 auto;
      }
      #suc-message{
        color: forestgreen;
      }
      #error-message{
        color: #ff0000;
      }
    </style>

<div class="card">
  <div class="login-container">
    <div class="card">
      <h2>Login</h2>
      <!-- <div id="suc-message">Success</div>
      <div id="error-message">Invailid credentials</div> -->

      <iron-form id="userlogin">
      <form>
        <paper-input label="User name" type="text" auto-validate  value="{{submitObj.username}}" name="username" required auto-validate error-message="This filled required"></paper-input>
        <paper-input label="Password" type="password" auto-validate  value="{{submitObj.password}}" name="password" required auto-validate error-message="This filled required"></paper-input>        
        <paper-button raised class="submit" on-click="loginNow">login</paper-button>
        <br>
      </form>
    </iron-form>

    </div>
  </div>


  
</div>
<!-- <iron-ajax body="{{submitObj}}" handle-response="_handleresponse"></iron-ajax> -->
<!-- <iron-ajax
    auto
    url="https://www.googleapis.com/youtube/v3/search"
    params='{"part":"snippet", "q":"polymer", "key": "YOUTUBE_API_KEY", "type": "video"}'
    handle-as="json"
    on-response="handleResponse"
    debounce-duration="300"></iron-ajax>

  </template> -->
  <iron-ajax id="sendlogin"
    body="{{submitObj}}"
    url="https://www.googleapis.com/youtube/v3/search"    
    handle-as="json"
    on-response="handleResponse"
    generateRequest
    debounce-duration="300"></iron-ajax>

  </template>

  <script>
    class ChatbotView1 extends Polymer.Element {
      static get is() { return 'chatbot-view1'; }
      static get properties() {
        return {
          submitObj: {
            type: Object,
            value: {}
          }
        }
      }
      handleResponse(){
        console.log("succuses");
      }

      loginNow(e) {
        //console.log(this.$.userlogin.validate());
        if (!this.$.userlogin.validate())
          return false;

        // 
        alert("success");

      }
    }

    window.customElements.define(ChatbotView1.is, ChatbotView1);
  </script>
</dom-module>
